@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor01: #faf2d3;
    --cor02: #fae869;
    --cor3: #3085c3;
    --cor4: #000;
    --cor5: #fff;

    --font01: 'DM Sans', sans-serif;
    --font02: 'Shrikhand', cursive ;
}

body{
    display: grid;
    grid-template-columns: auto auto;
}

input, input:focus, input:hover{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*===============lado-esquerdo==================*/
.areaL{
    background-color: var(--cor01);
    height: 100vh;
    width: 70vw;
}

/*todo header esta em um css a parte */

.textocentral{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.textocentral h1{
    font-family: var(--font01);
    font-size: 1.5em;
    font-weight: 500;
}

.textocentral h2{
    font-family: var(--font02);
    font-weight: 300;
    font-size: 3.5em;
    color: var(--cor3);
}

.btn_sobrenos{
    width: calc(20%);
    margin: 10px;
    padding: 8px;
    border: 0;
    border-radius: 15px;
    background-color: var(--cor4);
    font-family: var(--font01);
    color: var(--cor5);
}

/*===============lado-direito==================*/
.areaR{
    background-color: var(--cor02);
    height: 100vh;
    width: 30vw;
}

.arealogin{
    background-color: var(--cor02);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.arealogin input{
    width: 30%;
    height: 25%;
    margin-left: 10px;
    padding: 8px;
    border-radius: 15px;
    font-family: var(--font01);
}

.btn_login{
    width: calc(20%);
    margin: 10px;
    padding: 8px;
    border: 0;
    border-radius: 15px;
    background-color: var(--cor3);
    font-family: var(--font01);
}

.areacadastro{
    background-color: var(--cor02);
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.areacadastro input{
    width: calc(80% + 25px);
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
    font-family: var(--font01);
}

.cadastronome{
    width: 100%;
}

.cadastronome input{
    width: 40%;
    font-family: var(--font01);
}

.btn_cadastro{
    width: calc(80% + 25px);
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    background-color: var(--cor3);
    font-family: var(--font01);
    font-size: 15px;
    font-weight: 600;
}